#!/usr/bin/env python
PACKAGE = "rcbigcar"

from dynamic_reconfigure.parameter_generator_catkin import *
from math import pi

gen = ParameterGenerator()

for id in range(4):
    id_str = str(id)
    gen.add("Kp_"    + id_str, double_t, 0, "Motor Controller Kp",  0, 0, 100)
    gen.add("Ki_"    + id_str, double_t, 0, "Motor Controller Ki",  0, 0, 100)
    gen.add("Kd_"    + id_str, double_t, 0, "Motor Controller Kd",  0, 0, 100)
    gen.add("Kf_"    + id_str, double_t, 0, "Motor Controller Filter Kf",  1.0, 0, 100)
    gen.add("KmaxI_" + id_str, double_t, 0, "Motor Controller KmaxI",  1000, 0, 5000)

exit(gen.generate(PACKAGE, "motion", "Motion"))