**/build*/
**/devel/
**/cmake-build-debug/
*.obj
*.o
*.pyc
*.swp
**/build_isolated/
**/devel_isolated/
.DS_Store
RCBigCar/catkin_ws/src/CMakeLists.txt
Script/assessment.txt
RCBigAlgo/RCBigQtAlgo/RCBigQtAlgo.pro.user
RCBigAlgo/RCBigQtAlgo/RCBigQtAlgo.pro.user.525c093.21
