<launch>
  <arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  <arg name="node_namespace" default="apriltag_ros_continuous_node" />
  <arg name="camera_name" default="/usb_cam" />
  <arg name="camera_frame" default="usb_cam" />
  <arg name="image_topic" default="image_rect" />
  <arg name="debug" default="false"/>
  <arg name="device" default="/dev/video0" />

  <!-- Activate AprilTag detection mode -->
  <!-- Set parameters -->
  <rosparam command="load" file="$(find apriltag_ros)/config/settings.yaml" ns="$(arg node_namespace)" />
  <rosparam command="load" file="$(find apriltag_ros)/config/tags.yaml" ns="$(arg node_namespace)" />
  
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg node_namespace)" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)" >
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_name)/camera_info" />

    <param name="camera_frame" type="str" value="$(arg camera_frame)" />
    <param name="publish_tag_detections_image" type="bool" value="true" />      <!-- default: false -->
  </node>

  <!-- Activate Image Processing Node -->
  <!-- refer to: http://wiki.ros.org/image_proc  -->
  <node ns="usb_cam" pkg="image_proc" type="image_proc" name="image_proc"/>  
  <!-- Activate Camera Driver Node -->
  <include file="$(find usb_cam)/launch/camera.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="device" value="$(arg device)" />
  </include>

  <!-- show image for debug -->
  <group  if="$(arg debug)">
    <node pkg="image_view" type="image_view" name="image_rect" if="$(arg debug)">
		<remap from="image" to="/usb_cam/image_rect_color" />
		<param name="autosize" type="bool" value="true" />
	</node>
  </group>

 <node pkg="rcbigvis" type="vloc" name="vloc" respawn="true" output="screen"/>

<!-- Set static location of base to cam -->

<node pkg="tf2_ros" type="static_transform_publisher" name="base_cam" args="0.19 0 0.6 -1.5707 0 -2.3562 base cam" />

<!-- Set static location of tags -->









<!-- testmap 3x3

<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_7" args="0 0 0 0 0 0 map tag_7" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_6" args="-0.4 0 0 0 0 0 map tag_6" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_8" args="0.4 0 0 0 0 0 map tag_8" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_9" args="-0.4 0.4 0 0 0 0 map tag_9" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_15" args="0 0.4 0 0 0 0 map tag_15" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_18" args="0.4 0.4 0 0 0 0 map tag_18" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_1" args="-0.4 -0.4 0 0 0 0 map tag_1" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_12" args="0 -0.4 0 0 0 0 map tag_12" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_19" args="0.4 -0.4 0 0 0 0 map tag_19" /> -->


<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_0" args="0.0 0.0 0 0 0 1.571 map tag_0" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_1" args="0.0 0.93 0 0 0 1.571 map tag_1" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_2" args="0.0 1.86 0 0 0 1.571 map tag_2" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_3" args="0.0 2.79 0 0 0 1.571 map tag_3" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_4" args="0.0 3.72 0 0 0 1.571 map tag_4" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_5" args="0.0 4.65 0 0 0 1.571 map tag_5" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_6" args="0.0 5.58 0 0 0 1.571 map tag_6" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_7" args="0.0 6.51 0 0 0 1.571 map tag_7" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_8" args="0.0 7.44 0 0 0 1.571 map tag_8" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_9" args="0.93 0.0 0 0 0 1.571 map tag_9" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_10" args="0.93 0.93 0 0 0 1.571 map tag_10" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_11" args="0.93 1.86 0 0 0 1.571 map tag_11" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_12" args="0.93 2.79 0 0 0 1.571 map tag_12" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_13" args="0.93 3.72 0 0 0 1.571 map tag_13" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_14" args="0.93 4.65 0 0 0 1.571 map tag_14" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_15" args="0.93 5.58 0 0 0 1.571 map tag_15" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_16" args="0.93 6.51 0 0 0 1.571 map tag_16" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_17" args="0.93 7.44 0 0 0 1.571 map tag_17" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_18" args="1.86 0.0 0 0 0 1.571 map tag_18" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_19" args="1.86 0.93 0 0 0 1.571 map tag_19" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_20" args="1.86 1.86 0 0 0 1.571 map tag_20" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_21" args="1.86 2.79 0 0 0 1.571 map tag_21" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_22" args="1.86 3.72 0 0 0 1.571 map tag_22" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_23" args="1.86 4.65 0 0 0 1.571 map tag_23" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_24" args="1.86 5.58 0 0 0 1.571 map tag_24" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_25" args="1.86 6.51 0 0 0 1.571 map tag_25" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_26" args="1.86 7.44 0 0 0 1.571 map tag_26" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_27" args="2.79 0.0 0 0 0 1.571 map tag_27" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_28" args="2.79 0.93 0 0 0 1.571 map tag_28" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_29" args="2.79 1.86 0 0 0 1.571 map tag_29" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_30" args="2.79 2.79 0 0 0 1.571 map tag_30" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_31" args="2.79 3.72 0 0 0 1.571 map tag_31" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_32" args="2.79 4.65 0 0 0 1.571 map tag_32" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_33" args="2.79 5.58 0 0 0 1.571 map tag_33" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_34" args="2.79 6.51 0 0 0 1.571 map tag_34" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_35" args="2.79 7.44 0 0 0 1.571 map tag_35" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_36" args="3.72 0.0 0 0 0 1.571 map tag_36" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_37" args="3.72 0.93 0 0 0 1.571 map tag_37" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_38" args="3.72 1.86 0 0 0 1.571 map tag_38" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_39" args="3.72 2.79 0 0 0 1.571 map tag_39" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_40" args="3.72 3.72 0 0 0 1.571 map tag_40" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_41" args="3.72 4.65 0 0 0 1.571 map tag_41" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_42" args="3.72 5.58 0 0 0 1.571 map tag_42" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_43" args="3.72 6.51 0 0 0 1.571 map tag_43" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_44" args="3.72 7.44 0 0 0 1.571 map tag_44" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_45" args="4.65 0.0 0 0 0 1.571 map tag_45" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_46" args="4.65 0.93 0 0 0 1.571 map tag_46" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_47" args="4.65 1.86 0 0 0 1.571 map tag_47" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_48" args="4.65 2.79 0 0 0 1.571 map tag_48" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_49" args="4.65 3.72 0 0 0 1.571 map tag_49" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_50" args="4.65 4.65 0 0 0 1.571 map tag_50" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_51" args="4.65 5.58 0 0 0 1.571 map tag_51" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_52" args="4.65 6.51 0 0 0 1.571 map tag_52" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_53" args="4.65 7.44 0 0 0 1.571 map tag_53" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_54" args="5.58 0.0 0 0 0 1.571 map tag_54" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_55" args="5.58 0.93 0 0 0 1.571 map tag_55" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_56" args="5.58 1.86 0 0 0 1.571 map tag_56" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_57" args="5.58 2.79 0 0 0 1.571 map tag_57" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_58" args="5.58 3.72 0 0 0 1.571 map tag_58" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_59" args="5.58 4.65 0 0 0 1.571 map tag_59" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_60" args="5.58 5.58 0 0 0 1.571 map tag_60" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_61" args="5.58 6.51 0 0 0 1.571 map tag_61" />
<node pkg="tf2_ros" type="static_transform_publisher" name="map_tag_62" args="5.58 7.44 0 0 0 1.571 map tag_62" />

</launch>
